<div class="main-content">
  <div class="container">

    <div class="row">



      <div class="visitor span6" >
        <h2>
          Based on your IP address <%= request.remote_ip %>, your location is:
        </h2>

        <% @location = visitor_location %>
        <dl class="dl-horizontal">
          <dt><strong>City:</strong></dt>
          <dd><%= @location.city %></dd>
          <dt><strong>State:</strong></dt>
          <dd><%= @location.state %></dd>
          <dt><strong>Country:</strong></dt>
          <dd><%= @location.country %></dd>
          <dt><strong>Latitude:</strong></dt>
          <dd><%= @location.latitude %></dd>
          <dt><strong>Longitude:</strong></dt>
          <dd><%= @location.longitude %></dd>
        </dl>



        <% if !@location.nearbys(50).empty? %>
            <h2>
              Weather reports for nearby locations:
            </h2>
            <ul>
              <% @location.nearbys(50).each do |location| %>
                  <li class="location-item"><%= link_to location.city, reports_location_path(location) %> (<%= location.distance.round(2) %> miles)</li>
              <% end %>
            </ul>
        <% end %>

      </div>

      <div class="nearbys span6" >


        <p>
          <strong>
            <%= link_to 'View Weather Reports', reports_location_path(@location), :class => "green-btn" %>
            <% if current_user.present? %>
              <%= link_to 'Setup a Weather Alert', alert_location_path(@location), :class => "orange-btn" %>
            <% else %>
              <%= link_to 'Setup a Weather Alert', signup_path, :class => "orange-btn" %>
            <% end %>
          </strong>
        </p>

        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>


      </div>

      <div style="clear: both;" ></div>

    </div>
  </div>
</div>