<h2>
  Based on your current IP address <%= request.remote_ip %>, your location is:
</h2>
<% if (request.remote_ip == "127.0.0.1" || request.location.nil?) %>
  <% @location = Location.search('Arvada').first %>
<% else %>
  <% @location = Location.create(latitude: request.location.latitude,
                                 longitude: request.location.longitude) %>
<% end %>
<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong><%= link_to 'View Weather Reports for this location', reports_location_path(@location) %> |
    <%= link_to 'Setup a Weather Alert' %></strong>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>


<% if @location.geocoded? && !@location.nearbys(50).empty? %>
<h3>
  Weather reports for nearby locations
</h3>
  <ul>
    <% @location.nearbys(50).each do |location| %>
      <li><%= link_to location.city, reports_location_path(location) %> (<%= location.distance.round(2) %> miles)</li>
    <% end %>
  </ul>
<% end %>
