<% provide(:title, 'Home') %>
<h1>Welcome to WeatherViz</h1>

<%= render 'locations/search_form' %>

<p>Your current IP Address: <%= request.location %></p>
<p><%=  %></p>

<%= link_to 'Browse recently searched locations', locations_path %> |
<%= link_to 'Browse recently pulled reports', weather_reports_path %>
