<h1>Login</h1>

<div>
  <%= image_tag('octocat.png', size: '60x60') %>
  <%= link_to button_tag('Sign in via Github'), '/auth/github' %>
</div>
<div>
  <%= image_tag('google.png', size: '60x60') %>
  <%= link_to button_tag('Sign in via Google'), '/auth/google_oauth2' %>
</div>
<div>
  <%= form_tag login_path do %>
      <p>
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </p>

      <p>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </p>

      <p class="button">
        <%= submit_tag 'Login' %>
      </p>
  <% end %>
</div>