<% provide(:title, 'Alerts') %>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Listing alerts for <%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="container">

    <div class="row">
      <div class="about span12" >

        <%= will_paginate @user_alerts %>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Location</th>
            <th>Alert Name</th>
            <th>By email</th>
            <th>By sms</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Email verified</th>
            <th>Phone verified</th>
            <th>Active</th>
          </tr>
          </thead>

          <tbody>
          <% @user_alerts.each do |alert| %>
              <tr>
                <td><%= alert.city %></td>
                <td><%= alert.alert_name %></td>
                <td><%= alert.by_email %></td>
                <td><%= alert.by_sms %></td>
                <td><%= alert.email %></td>
                <td><%= alert.sms %></td>
                <td><%= alert.email_verified %></td>
                <td><%= alert.phone_verified %></td>
                <td><%= alert.active %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate @user_alerts %>
        <br>
        <%= link_to 'Back', users_path, :class => 'btn' %>
      </div>
    </div>
  </div>
</div>