<% provide(:title, "Edit user") %>
<%- model_class = User -%>
<div class="page-header">
  <h1>Update your profile</h1>
</div>

<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
    <%= render 'users/fields', f: f %>
    <% if current_user.present? && current_user.admin? %>
        <div class="control-group">
          <%= f.label :admin, "Admin", :class => 'control-label' %>
          <div class="controls">
            <%= f.check_box :admin, :class => 'check-box' %>
          </div>
        </div>
    <% end %>
    <div class="form-actions">
      <%= f.submit "Save changes", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  users_path, :class => 'btn' %>
    </div>
<% end %>

<%= gravatar_for @user %>
<a href="http://gravatar.com/emails" target="_blank">change</a>

