
<% unless @user.omniauth? %>
    <div>
      <%= image_tag('octocat.png', size: '60x60') %>
      <%= link_to button_tag('Sign up via Github'), '/auth/github' %>
    </div>
    <div>
      <%= image_tag('google.png', size: '60x60') %>
      <%= link_to button_tag('Sign up via Google'), '/auth/google_oauth2' %>
    </div>
    <div>
      <h1>Signup</h1>
    </div>
<% else %>
    <h1>Verify Details</h1>
<% end %>

<%= render 'users/form' %>

<%= link_to 'Back', users_path %>
