<% provide(:title, full_name(@user)) %>
<div class="row">
  <aside class="span4">
    <section>
<h1>
  <%= gravatar_for @user %>
  <%= full_name(@user) %>
</h1>
    </section>
  </aside>
</div>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
