<%= form_for(@alert) do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% @alert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alert_name %><br>
    <%= f.text_field :alert_name %>
  </div>
  <div class="field">
    <%= f.label :by_email %><br>
    <%= f.check_box :by_email %>
  </div>
  <div class="field">
    <%= f.label :by_sms %><br>
    <%= f.check_box :by_sms %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :sms %><br>
    <%= f.text_field :sms %>
  </div>
  <div class="field">
    <%= f.label :email_verified %><br>
    <%= f.check_box :email_verified %>
  </div>
  <div class="field">
    <%= f.label :phone_verified %><br>
    <%= f.check_box :phone_verified %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
