<h1>Listing rules for <%= @alert.alert_name %></h1>

<table>
  <thead>
  <tr>
    <th>Field</th>
    <th>Operation</th>
    <th>Value</th>
    <th>Triggered</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @alert.rules.each do |rule| %>
      <tr>
        <td><%= rule.field %></td>
        <td><%= rule.operation %></td>
        <td><%= rule.value %></td>
        <td><%= rule.triggered %></td>
        <td><%= link_to 'Show', rule %></td>
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_rule_path,
            :class => 'btn btn-primary' %>