<div class="page-header">
  <h2>You would get an alert for every listed rule that triggers</h2>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Field</th>
    <th>Operator</th>
    <th>Value</th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>

  <tbody>
  <% @alert.rules.each do |rule| %>
      <tr>
        <td><%= rule.field %></td>
        <td><%= rule.operator %></td>
        <td><%= rule.value %></td>
        <td>
          <%= link_to 'Show', rule, :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_rule_path(rule), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      rule,
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_rule_path,
            :class => 'btn btn-primary' %>