<%- model_class = Alert -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= render 'form' %>

<%= render partial: 'alerts/rules', member: @alert.rules %>

<%= link_to 'Show', @alert, :class => 'btn'  %>
<%= link_to t('.back', :default => t("helpers.links.back")),
            alerts_path, :class => 'btn'  %>
