<% provide(:title, 'Logs') %>
<div class="page-header">
  <h1>Logs for the '<%= @alert.alert_name %>' alert</h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Sent</th>
    <th>Message</th>
    <th>Sent to</th>
  </tr>
  </thead>

  <tbody>
  <% @alert.alert_logs.each do |log| %>
      <tr>
        <td><%= log.sent_at.strftime("%x, %I:%M %P") %></td>
        <td><%= log.alert_message %></td>
        <td><%= log.alert_message_types %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Current alert', alert_path(@alert), :class => 'btn' %>
<%= link_to 'All alerts', alerts_path, :class => 'btn' %>