
<%= form_for @rule, :html => { :class => 'form-horizontal' } do |f| %>

    <div class="control-group">
      <%= f.label :field, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :field, options_for_select(%w[temp temp_min temp_max]), :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :operator, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :operator, options_for_select(%w[> < =]), :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :value, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :value, :maxlength => 3, :class => 'text_field' %>
      </div>
    </div>
    <%= f.hidden_field  :alert_id %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  @rule.alert, :class => 'btn' %>
    </div>
<% end %>
