<%= form_for(@rule) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :field %><br>
    <%= f.text_field :field %>
  </div>
  <div class="field">
    <%= f.label :operation %><br>
    <%= f.text_field :operation %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :triggered %><br>
    <%= f.check_box :triggered %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
