<%- model_class = Rule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:field) %>:</strong></dt>
  <dd><%= @rule.field %></dd>
  <dt><strong><%= model_class.human_attribute_name(:operator) %>:</strong></dt>
  <dd><%= @rule.operator %></dd>
  <dt><strong><%= model_class.human_attribute_name(:value) %>:</strong></dt>
  <dd><%= @rule.value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:triggered) %>:</strong></dt>
  <dd><%= @rule.triggered %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_rule_path(@rule), :class => 'btn' %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              rules_path, :class => 'btn'  %>
</div>