
<p>
  <strong>City:</strong>
  <%= @location.city_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @location.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @location.lon %>
</p>

<% if (current_user.present? && current_user.admin?) %>
  <%= link_to 'Edit', edit_location_path(@location) %> |
<% end %>
<%= link_to 'Back', locations_path %>
